<div class="back">
  <div class="main">
    <h1 id="headr" >Categories</h1>
    <div class="books-category-inside" *ngFor = "let cat of categories">
      <a routerLink="{{cat.img}}">
        <img src='{{cat.img}}'> </a>

      <div class="category-text">
        <h2>
          <a routerLink="{{cat.link}}">
            {{cat.name}}
          </a>
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid, amet autem est ex libero omnis rem unde!
        </p>
      </div>
      <div class="strelochka">
        <h2>></h2>
      </div>
    </div>
    <!--  <ul class="nav_links" >-->
    <!--    <li><a routerLink="/faculties">Faculties</a></li>-->
    <!--&lt;!&ndash;    <li><a routerLink="/comics">Комикс</a></li>&ndash;&gt;-->
    <!--  </ul>-->
  </div>
</div>
