<div class="back">
  <div class="main">
    <a routerLink="/categories"><button id="button"></button></a>
    <div id="headr"> <h1> Contact Us</h1></div>

  </div>
  <div class="inputs">

    <div class='input-container'>
      <h2 id="NameL">Your Name:</h2>
      <input
        type='text'
        id='name'
        class='input input-name'
      />

    </div>
    <div class='input-container'>
      <h2 id="NumL">Phone Number:</h2>
      <input
        type='phone'
        id='phone'
        class='input input-phone'
      />

    </div>

    <div class='input-container'>
      <h2 id="TextL">Your Question:</h2>
      <input
        type='text'
        id='message'
        class='input input-text'
      />

    </div>
  </div>
  <div class="buttonSpace">
    <button id="Send"> Send </button>
  </div>


</div>

